@page
@model NorthwindWeb.Pages.FournisseursModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers;
<div class="table">
    <h1 class="display-2">Nos fournisseurs</h1>
    <table class="table table-success table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Nom de compagnie</th>
                <th>Personne de contact</th>
                <th>Son titre</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fournisseur in Model.Fournisseurs)
            {
                <tr>
                    <td>@fournisseur.CompanyName</td>
                    <td>@fournisseur.ContactName</td>
                    <td>@fournisseur.ContactTitle</td>
                    <td>@fournisseur.Address</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" href="newFournisseur">Créez nouveau fournisseur</a>
    </p>    

</div>